#show {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 100px - 70px);
}

#show .card {
  color: black;
  background-color: #E9E9E9;
  width: 400px;
  margin: 10px;
}

#show .booking-form {
  width: 400px;
  background-color: #E9E9E9;
  padding: 10px;
  margin: 10px;
}
